@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors, Lists, Color
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framwork
6.0 - Components: specific designed components
        - Off Canvas
        - Nav
        - Hero 
        - Footer 
        - Carousel 
        - Book Cover 
        - Event Block 
        - Subscribe 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Buttons 
        - Bg Color 
        - Margin 
        - Screenreader

--------------------------------------------------------------*/


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */

html {
    font: 1rem 'Noto Sans', sans-serif;

}

@media screen and (min-width: 768px) {

    html {
        font: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font: .9rem;
    }
}


/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

/* ----- TYPOGRAPHY ----- */
h1,
h2,
h3,
h4 {
    color: #46423F;
}

h1,
h2,
h4 {
    font-family: 'IBM Plex Serif', serif; 
}

h1,
h2,
p {
    margin: 0;
}

p, 
li {
    font-size: 1.1rem;
}

h2, 
h4 {
    font-weight: 600;
}

h1,
h4 {
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.95rem;
    font-weight: 500;
}

h2 {
    font-size: 2.3rem;
    line-height: 2.4rem;
}

h4 {
    font-size: 1.2rem;
    margin: 3em 0 .9em;
    color: #fff;
}

p {
    line-height: 2rem;
}

@media screen and (min-width: 40em) {

    h1 {
        font-size: 2.7rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    li {
        font-size: 1.2rem;
    }

    p {
        line-height: 2em;
    }
}

@media screen and (min-width: 64em) {

    li,
    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.45rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        margin-top: 1.3em;
        margin-bottom: 0;
    }

    h4 {
        margin: 0;
    }

    p {
        line-height: 1.7em;
    }
 
}


/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.img-responsive {
    max-width: 100%;
}

@media screen and (min-width: 40em) {

    .wrapper {
        width: 80%;
    }    
}

@media screen and (min-width: 64em) {

    .wrapper {
        width: 70%;
    }
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */
/* ----- OFF-CANVAS----- */

#offCanvasRight,
#offCanvasRight a {
    color: #FFFDFB;
}

#offCanvasRight {
    box-shadow: inset 4px 0 20px rgba(36 18 7 / 18%);
    background-color: #FFFDFB;
}

#offCanvasRight ul{
    list-style-type: none;
    margin: 0;
}

#offCanvasRight li {
    background-color: #8D4517;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 4px;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;  
}

.off-canvas.is-open ~ .nav,
.off-canvas.is-transition-push ~ .nav {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.off-canvas.is-open ~ .nav {
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
}

.off-canvas.is-closed ~ .nav {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
} 

/* ----- NAV ----- */

.nav,
.nav .button {
    background-color: #FFFDFB;
}

#bg-books li,
#bg-shop-blocks ul {
    list-style-type: none;
}

.nav .button {
    padding: 1em 0 0;
}

a img  {
    padding: 2.7em 0 0;
}

nav a:visited {
    color: #46423F;
}

.nav {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a img {
    width: 2em;
    margin: 0;
}

#bg-books li {
    margin-bottom: 2em;
    padding: 0;
}

#bg-books ul {
    margin: 3.5em 0 0;
}

.nav .button {
    color: #46423F;
    font-size: 2.5rem;
}

#bg-shop-blocks .align-spaced ul {
    margin: 2em 0 2.6em;
}

#bg-shop-blocks li {
    margin-bottom: 1.1em;
}

@media screen and (min-width: 40em) {

    .wrapper {
        width: 80%;
    }   
    
    a img {
        width: 2.1rem;
        padding-bottom: 1.5em
    }

}


@media screen and (min-width: 64em) {

    header nav ul a,
    nav a:hover {
        color: #46423F;
    }

    .wrapper {
        width: 70%;
    }

    header .wrapper {
        padding: 3em 0 0;
    }

    a img {
        width: 11rem;
        padding: 0;  
    }

    #bg-books ul,
    #bg-shop-blocks ul {
        margin: 0.5em 0 0 0;
    }

    header nav {
        text-align: right;
    }

    header nav li {
        display: inline-block;
    }

    header nav ul a {
        text-transform: uppercase;
        margin-left: 3.5em;
        font-weight: 500;
    } 

    header nav i {
        color: #C0794B;
    }

    #row-1 section {
        padding-bottom: 0;
    }

    #bg-books li,
    #bg-shop-blocks li {
        margin-bottom: 2.2em;
    }

    #bg-books i,
    #bg-shop-blocks i {
        font-size: 1.3em;
    }

    #bg-books nav i,
    #bg-shop-blocks nav i {
        font-size: 1rem;
    }

    nav a:hover {
        border-bottom: 2px #C0794B solid;
    }

}

/* ----- HERO ----- */

#bg-books,
#bg-shop-blocks {
    padding: 4em 0 5em;
    margin-top: 7em;
}

#bg-books,
#bg-books:before,
#bg-shop-blocks,
#bg-shop-blocks:before,
.header-bg-color {
    top: 0;
    left: 0;
}

#bg-books,
#bg-shop-blocks,
.header-bg-color {
    position: relative;
}

#bg-shop-blocks div:last-child .large-4,
#bg-shop-blocks h1 {
    color: #FFFDFB;
}

#bg-shop-blocks:before,
#bg-books:before  {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
}

#bg-shop-blocks,
#bg-books {
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-backgroun-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

#bg-books {
    background-image: url(../img/bg-books.jpg);
}

#bg-books h1 {
    line-height: 2em;
}


#bg-books .header-bg-color {
    margin: 0 auto;
}

#bg-books span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
}

#bg-books .text-center p+p {
    margin: 2em 0 3em;
}

#bg-books:before {
    background-color: rgba(125, 70, 34, 0.5);
}

#bg-shop-blocks {
    background-image: url(../img/bg-shop-the-blocks.jpg);
}

#bg-shop-blocks h1 {
    margin-bottom: .75em;
}

#bg-shop-blocks div:last-child .align-spaced {
    z-index: 1;
    margin-bottom: 4.5em;
}

#bg-shop-blocks .header-bg-color p:first-child {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: .8em;
}

#bg-shop-blocks:before {
    background-color: rgba(72, 88, 77, 0.85);
}

#bg-shop-blocks .align-spaced i {
    padding-right: 0.5em;
}

.header-bg-color {
    background-color: #FFFDFB;
    padding: 4em 2em; 
}

.header-bg-color li:first-child {
    padding-right: .7em;
}

@media screen and (min-width: 40em) {

    #bg-shop-blocks .header-bg-color p:first-child {
        font-size: 1.3rem;
        line-height: 2em;
        margin-bottom: 0;
    }

    .bg-books .btn-primary li,
    .header-bg-color li {
        display: block;
    }

    #bg-books .text-center p+p {
        margin: 2em 0 3em;
    }

    .header-bg-color {
        padding: 3.5em 3.3em 3em; 
    }

    #bg-shop-blocks h1 {
        font-size: 3.6rem;
        line-height: 4rem;
        margin: .8em .25em .65em;
    }

    #bg-books h1 {
        line-height: 1.5em;
        margin-bottom: .2em;
    }
}

@media screen and (min-width: 64em) {

    #bg-shop-blocks div:last-child .align-spaced,
    #bg-shop-blocks .header-bg-color {
        text-align: left;
    }
    
    #bg-books,
    #bg-shop-blocks {
        padding: 4em 0 8em;
    }  

    #bg-shop-blocks h1 {
        margin: 0;
    }

    #bg-books span {
        font-size: 1.2rem;
    }

    .header-bg-color {
        padding: 4.5em 12em;
    }

    #bg-shop-blocks .header-bg-color {
        margin: 4em 0;
    }

    #bg-shop-blocks .align-spaced li {
        margin-bottom: 1.2em;
    }

    #bg-shop-blocks div:last-child .align-spaced {
        margin-top: 8em;
    }

    #bg-shop-blocks .header-bg-color p:first-child {
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: .4em;
    }

    .header-bg-color li {
        display: inline-block;
    }

    #bg-shop-blocks .header-bg-color {
        padding: 3.5em 5em;
    }
}


/* ----- FOOTER ----- */

footer,
footer a {
    color: #fff;
}

footer p,
address li {
    font-size: .9rem;
    line-height: 1.9em;
}

footer {
    background-color: #32453F;
    padding: 5em 0;
}

footer li {
    list-style-type: none;
    display: inline-block;
}

footer img {
    padding: 0 0 0 23px;
    width: 240px;
    margin-bottom: 1em;
}

footer a+ul {
    border-top: .5px #fff solid;
    width: 130px;
    margin: 0 auto;
    padding-top: 1em;
}

.fa-brands {
    font-size: 1.3rem;
    padding: 0 .3em;
} 

address ul {
    margin: 0;
}

address a:hover {
    color: #fff;
}

address li {
    display: block;
    font-style: normal;
    font-size: .9rem;
    line-height: 1.7em;
    word-break: break-all;
}

@media screen and (min-width: 64em) {

    footer a:hover,
    footer a:visited {
        color: #fff;
    }

    footer div div:first-child,
    address,
    footer section {
        text-align: left;
    }

    footer {
        padding: 5em 0 4em;
    }

    footer img {
        margin-bottom: 1em;
        padding: 0;
        width: 200px;
    }

    .fa-square-facebook {
        padding-left: 0;
    }

    footer h4 {
        margin-bottom: .6em;
    }

    footer a+ul {
        margin: 0;
    }

}

/* ----- CAROUSEL ----- */

.owl-nav,
.owl-dots {
    display: none;
}

.owl-carousel {
    margin-top: 3em;
    margin-bottom: 3.5em;
    justify-content: space-between;
}

.carousel {
    padding: 5em 0;
}

.carousel .wrapper {
    display: contents;
}

.owl-stage {
    padding: 0 1rem;
}

@media screen and (min-width: 64em) {

    .owl-carousel section:nth-child(4),
    .owl-carousel section:nth-child(5),
    .owl-carousel section:last-child {
        margin-top: 4.5em;
    }

    .carousel h2,
    .carousel h2 span {
        position: relative;
        top: 0;
        left: 0;
    }
    
    .owl-carousel {
        margin-bottom: 5.5em;
    }

    .carousel .wrapper {
        display: block;
    }

    .carousel h2 {
        text-align: left;
    }

    .carousel h2 span {
        background-color: #FFFAF4;
        padding-right: 2em;
        z-index: 1;
    }

    .carousel h2:after {
        content: '';
        display: inline-block;
        width: 100%; 
        height: 2px;
        background-color: #C7853E;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 0;
    }

    .owl-carousel h3+p {
        font-style: italic;
        margin-bottom: 1em;
    }

    .owl-carousel p {
        margin-right: 1em;
    }

    .carousel {
        padding: 5em 0 6em;
    }
    
    .carousel.lighter-soft-cream section {
        margin: 0;
    }
}

/* ----- BOOK COVER ----- */

.book-cover {
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -o-backgroun-size: contain;
    -ms-background-size: contain;
    background-size: contain;
    height: 13rem;
}

.soft-cream .book-cover {
    background-position: left;
}

#world-we-make {
    background-image: url(../img/bg-world-we-make.jpg);
}

#mad-honey {
    background-image: url(../img/bg-mad-honey.jpg);
}

#christmas-spirit {
    background-image: url(../img/bg-christmas-spirit.jpg);
}

#appeal {
    background-image: url(../img/bg-the-appeal.jpg);
}

#evenlyn-aubrey {
    background-image: url(../img/bg-evenlyn-aubrey.jpg);
}

#going-rogue {
    background-image: url(../img/bg-going-rogue.jpg);
}

#sun-warrior {
    background-image: url(../img/bg-sun-warrior.jpg);
}

#normal-people {
    background-image: url(../img/bg-normal-people.jpg);
}

#tomorrow {
    background-image: url(../img/bg-tomorrow.jpg);
}

#lessons-in-chemistry {
    background-image: url(../img/bg-lessons-chemistry.jpg);
}

#achilles {
    background-image: url(../img/bg-song-achilles.jpg);
}

@media screen and (min-width: 64em) {

    .book-cover {
        height: 18rem;
    }
    
}

/* ----- EVENT BLOCK ----- */

.event-photo {
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-backgroun-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    height: 13rem;
    margin-bottom: 1.2em;
}

.event-block {
    padding: 5em 0 1em;
}

.event-block span {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 400;
}

.event-block h2 {
    margin: .8em 0 .6em;
}

.event-block ul {
    list-style-type: none;
    margin: 0 0 1em;
}


.event-block i {
    padding-right: .5em;
    font-size: 1.3rem;
}

.event-block header p {
    margin: 0;
}

.event-block header p + h2 {
    margin-top: .6em;
}

#author-reading {
    background-image: url(../img/bg-person-reading.jpg);
}

#plaid-friday {
    background-image: url(../img/bg-fall-coco.jpg);
}

#small-saturday {
    background-image: url(../img/bg-christmas-gifts.jpg);
}

#first-friday {
    background-image: url(../img/bg-art-gallery.jpg);
}

.event-block li {
    margin-bottom: .8em;
    font-size: 1.1em;
    display: block;
    margin-right: 1em;
}

.event-photo section > p {
    margin-top: 1.5em;
}

@media screen and (min-width: 64em) {
    .event-block.soft-cream .event-photo {
        height: auto;
    }

    .event-block li {
        display: inline-block;
        margin-bottom: 0.8em;
        font-size: .9rem;
        margin-right: 1em;
    }

    .event-block {
        padding: 5em 0;
    }
}

/* ----- SUBSCRIBE ----- */

#subscribe {
    background-color: #F3F4ED;
    padding: 5em 0;
}

#subscribe h2 {
    margin-bottom: .4em;
}

form {
    margin-top: 1.7em;
}

form button {
    margin-top: 1.2em;
}

[type="text"],
[type="email"] {
    height: 3em;
    border-radius: 4px;
    border: 1px #46423F solid;
    color: #46423F;
    background-color: #fff;
}

address p {
    font-size: 1.2rem;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    font-family: 'IBM Plex Serif', serif; 
    font-weight: 600;
    margin: 3em 0 0.9em;
    
}

@media screen and (min-width: 64em) {

    form button {
        margin: 0;
        padding: 16px 32px;
    }

    [type="text"],
    [type="email"]  {
        margin: 0;
    }
    
    #subscribe form div:last-child button {
        width: 100%;
    }

    #subscribe p {
        font-size: 1.15rem;
        margin-bottom: 2.5em;
    }

    address p {
        margin: 0;
    }
}

/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- BUTTONS ----- */

.btn-primary,
.btn-primary:hover,
.btn-secondary,
.btn-secondary:hover,
.btn-tertiary {
    color: #FFFDFB; 
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
    font-size: 1rem;
}

.btn-primary:visited,
.btn-secondary:visited,
.btn-tertiary:visited {
    color: #fff;
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
    border-radius: 4px;
}

.btn-primary {
    background-color: #8D4517;
    padding: 14px 30px;
}

.btn-primary:hover {
    background-color: #C0794B;
}

.btn-secondary {
    background-color: #32453F;
    padding: 14px 30px;
}

.btn-secondary:hover {
    background-color: #6B876E;
}

.btn-tertiary {
    background-color: transparent;
    border: 1px #FFFDFB solid;
    padding: 14px 30px;
    text-transform: uppercase;
}

.btn-tertiary:hover {
    background-color: #FFFDFB;
    color: #46423F;
}

@media screen and (min-width: 40em) {
    .button {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 64em) {
    .btn-primary,
    .btn-secondary,
    .btn-tertiary {
        padding: 16px 30px;
    }

}

/* ----- BG-COLOR ----- */

.soft-cream {
    background-color: #FFFAF4;
}

.lighter-soft-cream {
    background-color: #FFFDFB;
}

/* ----- MARGIN----- */

.margin {
    margin: 2.5em 0 3.5em;
}

.event-p-margin {
    margin-top: 1.5em;
}

/* ----- SCREENREADER ----- */

.sr-only {
    position: absolute;
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      margin: -1px !important;
      overflow: hidden !important;
      clip: rect(0,0,0,0) !important;
      white-space: nowrap !important;
      border: 0 !important;
}
