@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
       
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks

6.0 - Components: specific designed components
       
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class

--------------------------------------------------------------*/


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */


body {
    font: 1rem'Noto Sans', sans-serif;
    color: #46423F;

}

h1 {
    font-size: 2.5rem;
    line-height: 2.95rem;
    text-transform: uppercase;
    font-family: 'IBM Plex Serif', serif;
    margin: 0;
}



h2 {
    font-size: 2.3rem;
    line-height: 2.4rem;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: 1.2rem;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3em 0 .9em;
}

p {
    font-size: 1.1rem;
    line-height: 2rem;
    margin: 0;
}

li {
    font-size: 1.1rem;
}

@media screen and (min-width: 40em) {
    html {
        font: 1.2rem;
    }
}

@media screen and (min-width: 64em) {
    html {
        font: .9rem;
    }

    h4 {
        margin: 0;
    }
}


/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

/* ----- TYPOGRAPHY ----- */

/* ----- ANCHOR ----- */

/* ----- HERO ----- */

/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.img-responsive {
    max-width: 100%;
}



@media screen and (min-width: 768px) {

    .wrapper {
        width: 80%;
    }    
}


@media screen and (min-width: 1024px) {

    .wrapper {
        width: 70%;
    }
    
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

/* ----- NAV ----- */

#offCanvasRight {
    background-color: #FFFDFB;
    box-shadow: inset 4px 0 20px rgba(36 18 7 / 18%)
}

#offCanvasRight ul{
    list-style-type: none;
    margin: 0;
}

#offCanvasRight li {
    background-color: #8D4517;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 4px;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;  
}

#offCanvasRight a {
    color: #FFFDFB;
}

.off-canvas.is-open ~ #header,
.off-canvas.is-transition-push ~ #header {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}


.off-canvas.is-open ~ #header {
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
}

.off-canvas.is-closed ~ #header {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
} 

#header {
    background-color: #FFFDFB;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a img {
    width: 2rem;
    margin: 0;
}

#bg-books li {
    list-style: none;
    margin-bottom: 2.2em;
}

#bg-books ul a {
    text-transform: capitalize;
} 

#bg-books ul {
    margin-top: 3.5em;
}

@media screen and (min-width: 768px) {

    .wrapper {
        width: 80%;
    }    
}


@media screen and (min-width: 1024px) {

    .wrapper {
        width: 70%;
    }

    nav li {
        display: inline-block;
    }

    #bg-books li {
        margin: 0;
    }

    nav a:hover {
        border-bottom: 2px #C0794B solid;
    }
    
    a img {
        width: 8rem;
        padding: 0;
    }

    #bg-books ul {
        margin: 1em 0 0;
    }
}


/* ----- HERO ----- */

#bg-books {
    background: url(../img/bg-books.jpg) center no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-backgroun-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 4em 0;
    margin-top: 7em;

    position: relative;
    top: 0;
    left: 0;
}

#header .button {
    background-color: #FFFDFB;
    color: #46423F;
    font-size: 2.5rem;
    padding: 2.7rem 0 0;
}

#bg-books h1 {
    line-height: 3.95rem;
}

#bg-books span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
}

#bg-books .text-center p+p {
    margin: 2em 0 3em;
}

#bg-books:before {
    background-color: rgba(125, 70, 34, 0.5);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}


#bg-shop-blocks {
    background: url(../img/bg-shop-the-blocks.jpg) center no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-backgroun-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 4em 0 5em;
    margin-top: 7em;
    position: relative;
    top: 0;
    left: 0;
}

#bg-shop-blocks div:last-child {
    margin: 0 auto;
}

#bg-shop-blocks div:last-child .large-4 {
    color: #FFFDFB;
    z-index: 1;
    margin-bottom: 4.5em;
}

#bg-shop-blocks .header-bg-color p:first-child {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: .8em;
}

#bg-shop-blocks ul {
    list-style-type: none;
    margin: 2em 0 3em;
}

#bg-shop-blocks li {
    margin-bottom: 1.1em;
}

#bg-shop-blocks:before {
    background-color: rgba(72, 88, 77, 0.85);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

#bg-shop-blocks i {
    padding-right: 0.5em;
}

.header-bg-color {
    background-color: #FFFDFB;
    padding: 4.5em 1.6em; 
    position: relative;
    top: 0;
    left: 0;
}


@media screen and (min-width: 1024px) {

    #bg-books {
        margin-top: 3em;
    }

    /* #bg-books div {
        padding: 2.5em 0 1.5em;
    } */

    #bg-books nav ul {
        margin-top: 0;
    }
    
}

/* ----- FOOTER ----- */

footer {
    background-color: #32453F;
    color: #fff;
    padding: 5em 0;
}

footer li {
    list-style-type: none;
    display: inline-block;
}

footer a {
    color: #fff;
}

footer img {
    padding-left: 23px;
    width: 240px;
    margin-bottom: 1em;
}

footer a+ul {
    border-top: .5px #fff solid;
    width: 130px;
    margin: 0 auto;
    padding-top: 1em;
}

.fa-brands {
    font-size: 1.3em;
    padding: 0 .3em;
} 

address ul {
    margin: 0;
}

footer p,
address li {
    font-size: .9rem;
    line-height: 1.9em;
}

address li {
    display: block;
    font-style: normal;
    font-size: .9rem;
    line-height: 1.7rem;
}

@media screen and (min-width: 1024px) {

    footer {
        padding: 6em 0;
    }

    footer img {
        margin-bottom: 1em;
        padding: 0;
        width: 200px;
    }
    
    footer div div:first-child,
    address,
    footer section {
        text-align: left;
    }

    .fa-square-facebook {
        padding-left: 0;
    }

    footer h4 {
        margin-bottom: .6em;
    }

    footer a+ul {
        margin: 0;
    }

    footer .large-5 {
        margin-right: 3.7em;
    }

    footer address {
        margin-right: 1em;
    }

    
}

/* ----- CAROUSEL ----- */

.owl-nav,
.owl-dots {
    display: none;
}

.owl-carousel {
    margin: 3em 0 3.5em;
}

.carousel {
    padding: 5em 0;
}

.carousel .wrapper {
    display: contents;
}

.owl-stage {
    padding: 0 1rem;
}

/* ----- BOOK COVER ----- */

.book-cover {
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -o-backgroun-size: contain;
    -ms-background-size: contain;
    background-size: contain;
    height: 13rem;
}

#world-we-make {
    background-image: url(../img/bg-world-we-make.jpg);
}

#mad-honey {
    background-image: url(../img/bg-mad-honey.jpg);
}

#christmas-spirit {
    background-image: url(../img/bg-christmas-spirit.jpg);
}

#appeal {
    background-image: url(../img/bg-the-appeal.jpg);
}

#evenlyn-aubrey {
    background-image: url(../img/bg-evenlyn-aubrey.jpg);
}

#going-rogue {
    background-image: url(../img/bg-going-rogue.jpg);
}

#sun-warrior {
    background-image: url(../img/bg-sun-warrior.jpg);
}

#normal-people {
    background-image: url(../img/bg-normal-people.jpg);
}

#tomorrow {
    background-image: url(../img/bg-tomorrow.jpg);
}

#lessons-in-chemistry {
    background-image: url(../img/bg-lessons-chemistry.jpg);
}

#achilles {
    background-image: url(../img/bg-song-achilles.jpg);
}

@media screen and (min-width: 1024px) {

    
    
}

/* ----- EVENT BLOCK ----- */

.event-photo {
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-backgroun-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    height: 13rem;
    margin-bottom: 1.2em;
}

#event-block {
    padding: 5em 0 1em;
}

#event-block span {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
}

#event-block h2 {
    margin: .8em 0 .6em;
}

#event-block ul {
    list-style-type: none;
    margin: 0 0 1.8em;
}

#event-block li {
    margin-bottom: .8em;
}

#event-block i {
    padding-right: .5em;
}

#event-block header p {
    margin: 0;
}

#event-block header p + h2 {
    margin-top: .4em;
}

#author-reading {
    background-image: url(../img/bg-person-reading.jpg);
}

#plaid-friday {
    background-image: url(../img/bg-fall-coco.jpg);
}

#small-saturday {
    background-image: url(../img/bg-christmas-gifts.jpg);
}

#first-friday {
    background-image: url(../img/bg-art-gallery.jpg);
}

@media screen and (min-width: 1024px) {

    
    
}

/* ----- SUBSCRIBE ----- */

#subscribe {
    background-color: #F3F4ED;
    padding: 4em 0;
}

#subscribe h2 {
    margin-bottom: .6em;
}

form {
    margin-top: 1.7em;
}

form button {
    margin-top: 1.2em;
}

/* not applying */
[type="text"],
[type="email"] {
    height: 3em;
    border-radius: 4px;
    border: 1px #46423F solid;
    color: #46423F;
    background-color: #fff
}

@media screen and (min-width: 1024px) {

    input {
        margin-right: 2em;
    }
    
}

/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- BUTTONS ----- */

.btn-primary {
    font-size: 1.1rem;
    background-color: #8D4517;
    color: #FFFDFB;
    border-radius: 4px;
    padding: 13px 20px;
}

.btn-primary:hover {
    background-color: #C0794B;
    color: #FFFDFB; 
}

.btn-secondary {
    font-size: 1.1rem;
    background-color: #32453F;
    color: #FFFDFB;
    border-radius: 4px;
    padding: 15px 32px;
}

.btn-secondary:hover {
    background-color: #6B876E;
    color: #FFFDFB; 
}

.btn-tertiary {
    font-size: 1.1rem;
    background-color: none;
    color: #FFFDFB; 
    border: 1px #FFFDFB solid;
    border-radius: 4px;
    padding: 13px 20px;
    text-transform: uppercase;
}

.btn-tertiary:hover {
    background-color: #FFFDFB; 
    border: 1px #FFFDFB solid;
    color: #46423F;
}

/* ----- BG-COLOR ----- */

.soft-cream {
    background-color: #FFFAF4;
}

.lighter-soft-cream {
    background-color: #FFFDFB;
}

/* ----- MARGIN----- */

.margin {
    margin: 2.5em 0 3em;
}

/* ----- SCREENREADER ----- */

.sr-only {
    position: absolute;
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      margin: -1px !important;
      overflow: hidden !important;
      clip: rect(0,0,0,0) !important;
      white-space: nowrap !important;
      border: 0 !important;
}
