@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
       
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks

6.0 - Components: specific designed components
       
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class

--------------------------------------------------------------*/


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */


html {
    font: 1rem 'Montserrat', sans-serif;

}

@media screen and (min-width: 40em) {
    html {
        font: 1.2rem;
    }
}

@media screen and (min-width: 64em) {
    html {
        font: .9rem;
    }
}


/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.img-responsive {
    max-width: 100%;
}



@media screen and (min-width: 768px) {

    .wrapper {
        width: 80%;
    }    
}


@media screen and (min-width: 1024px) {

    .wrapper {
        width: 70%;
    }
    
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

